<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLNS"
            sequence="0"/>

        <menuitem name="Nhân viên" 
            id="menu_nhan_vien_1" 
            parent="menu_root" 
            sequence="1"
        />
        <menuitem name="Nhân viên" 
            id="menu_nhan_vien" 
            parent="menu_nhan_vien_1" 
            sequence="2"
            action="action_nhan_vien"
        />
        <menuitem name="Số lượng nhân viên lớn hơn 18" 
            id="menu_so_luong_hon_18" 
            parent="menu_nhan_vien_1" 
            sequence="3"
            action="action_so_luong_hon_18"
        />
        <menuitem name="Chức vụ" 
            id="menu_chuc_vu" 
            parent="menu_root" 
            sequence="1"
            action="action_chuc_vu"
        />
        <menuitem name="Phòng ban" 
            id="menu_phong_ban" 
            parent="menu_root" 
            sequence="1"
            action="action_phong_ban"
        />
        <menuitem name="Lịch sử làm việc" 
            id="menu_lich_su_lam_viec" 
            parent="menu_root" 
            sequence="1"
            action="action_lich_su_lam_viec"
        />
        
    </data>
</odoo>
